# LLM Configuration
# ollama, upstage, openai
LLM_PROVIDER=upstage

# for ollama: llama3.1:8b, qwen3:32b, for upstage: solar-mini, solar-pro3, for openai: gpt-3.5-turbo-instruct
LLM_MODEL=solar-pro3
OLLAMA_BASE_URL=http://localhost:11434
UPSTAGE_API_KEY=YOUR_API_KEY
OPENAI_API_KEY=YOUR_OPEN_API_KEY
LLM_TEMPERATURE=0.1
LLM_STREAMING=True
LLM_MAX_TOKENS=3000
EMBEDDING_CHUNK_SIZE=1000

## embedding [Upstage:embedding-query,solar-embedding-1-large, OpenAI=text-embedding-ada-002, ollama=llama3.1:8b]
EMBEDDING_MODEL=solar-embedding-1-large

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Backend Service
BACKEND_API_URL=http://localhost:8080
BACKEND_TIMEOUT=30

# API Server
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=true

# Logging
LOG_LEVEL=DEBUG